#index {
  @include clearfix;

  //////////////////////////////// list of items

  .items {
    position: absolute;
    top: 0;
    left: $sidebar-width;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: $shade-1;

    /* -- ACTIONS (above items) -- */

    .actions {
      position: fixed;
      width: 423px;
      border-bottom: 2px solid $color-1;
      background: $color-dark;
      z-index: 999;

      a {
        float: right;
        padding: 8px 12.5px;
        i {
          color: $shade-1;
        }
        &:hover, &.active {
          background: $color-1;
        }
      }

      .filters {
        float: left;
        list-style: none;
        margin: 5px 0 0 0;
        padding: 0;

        li {
          display: inline-block;
          margin: 0 -4px 0 0;

          a {
            float: none;
            color: $shade-1;
            margin: 0;
            padding: 10px;
          }
        }
      }
    }

    /* -- INDIVIDUAL ITEMS -- */

    .item-container {
      margin-top: 38px;

      .item {
        position: relative;
        width: 400px;
        padding: 10px;
        border-bottom: 1px solid $shade-2;
        border-left: 5px solid $shade-2;
        &:hover {
          background: $shade-2;
          border-left-color: $shade-3;
          cursor: pointer;
        }
        &.active {
          background: $shade-2;
          border-left-color: $color-1;
        }

        // icons

        div.icons {
          position: absolute;
          top: 4px;
          right: 2px;
          margin: 0;
          padding: 0;

          a {
            padding: 5px 8px;
            background: $shade-3;

            i {
              font-size: 14px;
              color: $shade-1;
            }

            &:hover {
              background: $color-1;
            }
            &.published {
              background: transparent;
              &:hover {
                background: transparent;
              }
            }
          }
        }

        // title

        .title {
          width: 275px;
          margin: 0 75px 0 0;
          font-size: 1.1em;
        }

        // date

        .date {
          .client {
            font-size: 0.9em;
            color: $shade-4;
          }
          .separator {
            font-size: 0.9em;
            color: $shade-4;
            margin: 0 5px;
          }
          font-size: 0.9em;
          color: $shade-4;
        }
      }
    }
  }

  //////////////////////////////// item preview

  .preview {
    position: absolute;
    top: 0;
    left: 100px;
    overflow: scroll;
    height: 100%;
    margin: 0 0 0 425px;
    padding: 0 25px;
  } 
}
