#login-form {
  width: 300px;
  margin: 25px auto;
  padding: 10px;
  border: 1px solid $color-light-dark;
  .logo {
    text-align: center;
    a {
      &:hover {
        i {
          color: $color-1;
        }
      }
      i {
        font-size: 100px;
        color: $color-dark-lightest;
        @include transition(color 0.35s linear);
      }
    }
  }
  h2 {
    margin: 10px 0;
    color: $color-light-darkest;
    font-weight: 600;
    text-align: center;
  }
  form {
    input[type=text], input[type=email], input[type=password] {
      padding: 10px;
      @include box-sizing(border-box);
      &:focus {
        color: $color-1;
      }
    }
    input[type=submit] {
      background: $color-1;
      @include transition(background 0.35s linear);
      &:focus, &:hover {
        outline: none;
        background: $color-1-dark;
      }
      &:active {
        background: $color-1-darker;
      }
    }
    label, abbr {
      color: $color-light-darkest;
      text-transform: uppercase;
      font-weight: 600;
      border-bottom: none;
    }
    .error {
      display: block;
      margin: 0 0 15px 0;
      padding: 5px 10px;
      background: $color-danger;
      color: $color-light;
    }
    .user-notice {
      background: $color-danger;
      p {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        @include box-sizing(border-box);
        color: $color-light;
        &:first-child {
          padding-top: 10px;
        }
        &:last-child {
          padding-bottom: 10px;
        }

        .button {
          background: transparent;
          color: $color-light;
          border: 1px solid $color-light;
          margin: 0;
          text-transform: none;
          @include transition(background 0.35s linear);
          &:hover {
            background: $color-light;
            color: $color-danger;
          }
        }
      }
    }
  }
}
