.tiles {
  position: relative;
  padding: 25px;
  @include clearfix;

  // --------------------------------------- Default Tile (shared rules)

  .tile {
    float: left;
    overflow: hidden;
    margin: 10px;
    @include transition(top 1.0s ease 0.5s, left 1.0s ease 0.5s);
    img { height: auto; }
    .content {
      position: relative;
      display: inline-block;
      overflow: hidden;
      clear: none;
      .front {
        position: absolute;
        &:hover { cursor: default; }
      }
      .back {
        position: absolute;
        bottom: 100%;
        left: 0;
        @include transition(bottom 0.5s ease 0.2s);
        a {
          float: left;
          margin: 0;
          text-align: center;
          &:hover {
            background: $color-2-light;
          }
          &:active {
            background: $color-2-lighter;
          }
          i {
            color: $color-light;
            font-size: 24px;
          }
          p {
            color: $color-light;
            font-size: 18px;
          }
        }
      }
    }

    // --------------------------------------- Thumb

    &.thumb {
      width: 200px;
      height: 200px;
      .content {
        img {
          width: 200px;
        }
        width: 200px;
        height: 200px;
        .front {
          width: 200px;
          bottom: 0;
          left: 0;
          background: rgba(214,80,48,0.85);
          z-index: 99;
          @include transition(bottom 0.5s ease 0.2s);
          h2 {
            margin: 0;
            padding: 10px;
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
            color: $color-light;
            a {
              font-weight: 600;
              font-size: 14px;
              color: $color-light;
            }
          }
        }
        .back {
          width: 200px;
          height: 100px;
          z-index: 999;
          background: rgba(214,80,48,0.85);
          text-align: center;
          a {
            width: 50px;
            height: 50px;
            padding: 25px;
            &:hover {
              background: rgba(214,80,48,0.90);
            }
          }
        }
        &:hover {
          .front { bottom: -100%; }
          .back { bottom: 100px; }
        }
      }
    }

    // --------------------------------------- Chip

    &.chip {
      width: 450px;
      height: 150px;
      background: $color-2;
      img {
        float: left;
        width: 150px;
      }
      .content {
        width: 450px;
        height: 150px;
        .front {
          top: 0;
          left: 0;
          @include transition(top 0.5s ease 0.2s);
          p, .name {
            margin: 15px 15px 5px 15px;
            color: $color-light;
            text-align: center;
          }
          p {
            margin-top: 5px;
            font-size: 13px;
          }
          .location {
            font-style: italic;
          }
          .name {
            font-size: 18px;
            text-transform: uppercase;
          }
        }
        .back {
          a {
            width: 50px;
            height: 50px;
            padding: 50px 87.5px;
          }
        }
        &:hover {
          .front { top: 100%; }
          .back { bottom: 0; }
        }
      }
      img + .content {
        width: 300px;
        .back a {
          padding: 50px;
        }
      }
    }
  }
}