<div class="row">
  <div class="accordion column-6">
    <header>
      <h2><%= titles[0] %></h2>
    </header>
    <div class="fields">
      <%= @content_left %>
    </div>
  </div>
  <div class="accordion column-6">
    <header>
      <h2><%= titles[1] %></h2>
    </header>
    <div class="fields">
      <%= @content_right %>
    </div>
  </div>
</div>
